data
pc_skeletor/data
.idea
.pytest_cache
**/ __pycache__
skeletor.egg-info
build
dist
pc_skeletor-*
pc_skeletor.egg-info
pc_skeletor/__pycache__/**
pc_skeletor/tmp*

# Output
pc_skeletor/output*
output

__pycache__
test/__pycache__
test/__pycache__/**
__pycache__/**